:root {
  --inter-font: "Inter", sans-serif;
  --sen-font: "Sen", sans-serif;
  --green-color: #32f5c8;
  --gray-color: #b0c3cc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #013243;
}

header {
  display: flex;
  justify-content: baseline;
  margin: 2.2rem 1rem 1rem 2.4rem;
}
header img {
  width: 33.3%;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
section {
  margin: -6.7rem 1rem 0 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 50%;
  z-index: 2;
}
section h1 {
  font-family: var(--sen-font);
  font-size: 5.4rem;
  color: var(--green-color);
}
section p {
  font-family: var(--inter-font);
  font-size: 2.4rem;
  color: var(--gray-color);
}
section span {
  font-family: var(--inter-font);
  font-size: 2.3rem;
  font-weight: 800;
  background-color: var(--green-color);
  padding: 2.3rem 2.4rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
.user-avatar-1 {
  display: none;
}
.user-avatar-2 {
  position: absolute;
  top: 3.2rem;
  left: 23.8rem;
  width: 16.7rem;
  z-index: 1;
}
.user-avatar-3 {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 11.6rem;
  z-index: 1;
}
.user-avatar-4 {
  display: none;
}
.user-avatar-5 {
  display: none;
}
.user-avatar-6 {
  position: absolute;
  top: 42rem;
  left: 21.4rem;
  width: 18.5rem;
  z-index: 1;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
}
footer span {
  margin-left: 1.6rem;
  font-family: var(--inter-font);
  font-size: 2.3rem;
  color: var(--gray-color);
}

.attribution {
  font-size: 2rem;
  text-align: center;
  color: var(--gray-color);
  margin-bottom: 1rem;
  padding: 0;
}
.attribution a {
  color: var(--green-color);
}

@media (min-width: 480px) {
  header {
    margin: 3.8rem 1rem 1rem 3.8rem;
  }
  header img {
    width: 16%;
  }

  section {
    margin: 1.8rem 1rem 0 3.8rem;
    height: 58%;
  }
  section h1 {
    font-size: 9rem;
  }
  section p {
    font-size: 2.15rem;
    width: 70%;
  }
  section span {
    font-size: 2.1rem;
    padding: 2.1rem 2.2rem;
  }
  .user-avatar-1 {
    display: block;
    position: absolute;
    top: 18rem;
    right: 11rem;
    width: 10rem;
  }
  .user-avatar-2 {
    top: -3rem;
    left: auto;
    right: 6rem;
    width: 14rem;
  }
  .user-avatar-3 {
    top: 1rem;
  }
  .user-avatar-4 {
    display: block;
    position: absolute;
    top: 52rem;
    right: 13rem;
    width: 21.5rem;
  }
  .user-avatar-5 {
    display: block;
    position: absolute;
    top: 10.5rem;
    right: 25.5rem;
    width: 10.5rem;
  }
  .user-avatar-6 {
    top: 33rem;
    left: auto;
    right: 16rem;
    width: 12rem;
  }

  footer {
    margin: 1rem 0 5rem 3.8rem;
  }
  footer img {
    width: 4.3rem;
  }
  footer span {
    margin-left: 1.5rem;
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  header {
    margin: 4.5rem 1rem 1rem 20rem;
  }
  header img {
    width: 11%;
  }

  section {
    margin: 0rem 1rem 0 20rem;
    height: 78%;
  }
  section h1 {
    font-size: 18rem;
    width: 80%;
    line-height: 16rem;
  }
  section p {
    font-size: 2.8rem;
    width: 40%;
  }
  section span {
    font-size: 2.6rem;
    padding: 2.6rem 2.5rem;
  }
  .user-avatar-1 {
    top: 31rem;
    right: 38rem;
    width: 14rem;
  }
  .user-avatar-2 {
    right: 45rem;
    width: 21rem;
  }
  .user-avatar-3 {
    top: 4rem;
    left: 9rem;
    width: 15.5rem;
  }
  .user-avatar-4 {
    right: 43rem;
    width: 28rem;
  }
  .user-avatar-5 {
    top: 1.5rem;
    right: 76rem;
    width: 14rem;
  }
  .user-avatar-6 {
    top: 34rem;
    right: 88rem;
    width: 17rem;
  }

  footer {
    margin: 1rem 0 10rem 20rem;
  }
  footer img {
    width: 5.4rem;
  }
  footer span {
    margin-left: 1.6rem;
    font-size: 2.4rem;
  }
}
