:root {
  --inter-font: "Inter", sans-serif;
  --sen-font: "Sen", sans-serif;
  --green-color: #32f5c8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #013243;
}

header {
  display: flex;
  justify-content: baseline;
  margin: 2.2rem 1rem 1rem 2.4rem;
}
header img {
  width: 33.3%;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
}
section {
  margin: -2.5rem 1rem 0 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 53%;
}
section h1 {
  font-family: var(--sen-font);
  font-size: 5.635rem;
  color: var(--green-color);
}
section p {
  font-family: var(--inter-font);
  font-size: 2.635rem;
  color: #b0c3cc;
}
section span {
  font-family: var(--inter-font);
  font-size: 2.635rem;
  font-weight: 800;
  background-color: var(--green-color);
  padding: 2.63rem 2.8rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
